/* Menu Contacts in Top Header */
.menu-contacts-container,.contact-infos {
  width: 100%;
}
.menu-contacts {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;;
  & li {
    display: inline-block;
  }
}
.top-bar ul, .top-bar ul li {
  float: left;
}

/* Header */
#main-navigation-wrapper.navbar-default .navbar-brand {
  padding: 10px 0;
}